<main class="contact-main">
  <section class="contact-hero">
    <h1>Contactez-nous</h1>
    <p>Une question, une suggestion ou un souci ? Remplissez le formulaire ci-dessous, nous vous répondrons rapidement.
    </p>
  </section>
  <form class="contact-form" (ngSubmit)="onSubmitContact()" #contactForm="ngForm">
    @if (showSuccess) {
    <div class="success-message">Votre message a bien été envoyé !</div>
    }
    @if (showError) {
    <div class="error-message">{{ errorMsg }}</div>
    }
    <div class="form-group">
      <label for="email">Votre email</label>
      <input type="email" id="email" name="email" [(ngModel)]="email" required autocomplete="email" />
    </div>
    <div class="form-group">
      <label for="subject">Sujet</label>
      <input type="text" id="subject" name="subject" [(ngModel)]="subject" required />
    </div>
    <div class="form-group">
      <label for="message">Message</label>
      <textarea id="message" name="message" [(ngModel)]="message" required rows="6"></textarea>
    </div>


    <!-- Champ honeypot invisible pour détecter les bots -->
    <div class="form-group" style="display:none;">
      <label for="honeypot">Ne pas remplir</label>
  <input type="text" id="honeypot" name="honeypot" [(ngModel)]="honeypot" [ngModelOptions]="{standalone: true}" autocomplete="off" />
    </div>



    <button class="cta" type="submit" [disabled]="!contactForm.form.valid">Envoyer</button>
  </form>
</main>

<app-footer-component></app-footer-component>