<!-- ...existing code... -->
<main class="chat-main">
  <section class="chat-search-bar">
    <input [formControl]="this.friendService.searchInput" (input)="this.friendService.onInput()" placeholder="Rechercher..." />
    
    <!-- <input  formControlName="searchInput" class="chat-search-input" (input)="this.friendService.onInput()" type="text" placeholder="Rechercher un ami ..." /> -->
    <button class="chat-search-btn">Rechercher</button>
  </section>

  
  @if (this.friendService.foundUsers.length  >= 0) {
  <!-- @if (foundUsers.length >=0) { -->
  <div class="search-results" *ngIf="this.friendService.foundUsers.length > 0">
    @for (user of this.friendService.foundUsers; track $index) {
    <!-- <p class="search-results-item" (click)="showUserProfil(user)">{{user.username}}</p> -->
    <p class="search-results-item" (click)="this.friendService.showUserProfil(user)">{{user.username}}</p>
    }
  </div>
  }@else {
  <div class="search-results">
    <p class="search-results-item">...</p>
  </div>
  }

  <section class="chat-content">

    <aside class="chat-sidebar">
      <div class="chat-friends">
        <h2 class="chat-sidebar-title">Mes amis</h2>
        <ul class="friends-list">
          <!-- <li class="friends-list-item">Nom Ami</li> -->
        </ul>
      </div>
      <div class="chat-requests">
        <h2 class="chat-sidebar-title">Demandes d'amis</h2>
        <ul class="requests-list">
          <!-- <li class="requests-list-item">Demande d'ami</li> -->
        </ul>
      </div>
    </aside>
    <section class="chat-messages">
      <div class="messages-header">
        <h2 class="messages-header-title" id="chat-text">Chat</h2>
      </div>
      <div class="messages-list">
        <!-- Messages ici -->
      </div>
      <div class="messages-input">
        <input class="messages-input-field" type="text" placeholder="Écrire un message..." />
        <button class="send-btn">Envoyer</button>
      </div>
    </section>
  </section>
</main>